.titulos {
    color: darkolivegreen;
    border: 3px solid black;
    padding: 4px;
    width: 700px;
    text-align: center;
    margin: auto;
    background-color: bisque;

}

.marco {
    border: 2px solid black;
    padding: 2px;
    width: 700px;
    text-align: center;
    margin: auto;
    background-color: bisque;
}

.conga {
    color: darkolivegreen;
}

#centro {
    background-color: darkolivegreen;
}